*
{
    margin: 0;
    padding: 0;
    border-width: 0;
}
a
{
    color: inherit;
    text-decoration: none;
}
*::selection
{
    background-color: transparent;
}

/* ----------------------------------------------------------------------------------------- */

/* outermost flex containers */
.outermost-container
{
    display: flex !important;
    align-content: center  !important;
    justify-content: center !important;
    padding: 50px 0;
}
.content-container
{
    width: 67% !important;
    align-items: center;
}
/* Repeating elems */
.flex-container-horizontal
{
    display: inline-block;
    width: 100%;
    padding-top: 3vmin;
}
.flex-container
{
    display: flex;
}
/* ------------------------------------------------------------------------------------------- */
/* header */
#header
{
    height: 7vmin;
    position: fixed;
    align-items: center;
    background-color: #212529;
    /* background-color: #a4161a; */
    color: White;
}
.flex-container-vertical
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: nowrap;
}
.header-child-large, .header-child
{
    text-align: center;
    font-size: 3vmin;
    font-family: 'Caveat', cursive;
    float: left;
    /* display: block; */
    /* background-color: red !important; */
    /* font-style: italic; */
}
.header-child-large
{
    width: 37%;
}
.header-child
{
    width: 12.5%;
}
/* header animations */
.header-child-large a:hover , .header-child a:hover
{
    font-weight: bold;
}

.section-head
{
    font-family: 'Caveat', cursive;
    font-size: 5em;
    /* margin-bottom: 20px; */
    padding: 30px 0;
    /* color : #a4161a; */
}

/* ---------------------------------------------------------------------------- */

/* About Section */
.banner-space
{
    padding-top: 85px;
    padding-bottom: 200px;
    background-color: black;
    background-image: url(./static/images/patt1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.banner-text
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: left;
 }

.banner-text *
{
    width: 100%;
    color: white;
}

.banner-text h1
{
    font-family: 'Caveat', cursive;
    font-size: 8em;
    margin-top: 50px;
    margin-bottom: 5px;
}
.banner-text h3
{
    font-family: 'Zilla Slab Highlight', cursive;
    margin-top: 20px;
    font-size: 2em;
}
.icon
{
    display: inline-block;
    width: 30%;
}
.icon-up
{
    margin-top: -12em !important;
    /* margin-bottom: 5em; */
}
.icon img
{
    width: 3em;
    /* padding-right: 600px; */
    /* margin-bottom: 100px; */
}

/* ----------------------------------------------------------- */

/* About Section */
#about
{
    /* font-family: 'Zilla Slab Highlight', cursive; */
    /* font-family: 'Zen Dots', cursive; */
    font-family: 'Antic Slab', serif;
    font-size: 1.4rem;
    /* color: #161a1d; */
    color : #161a1d;
}
.about-color
{
    /* background-color: #adb5bd; */
    padding-bottom: 60px;
    /* margin-top: 15px; */
    /* padding-top: 25px; */
}
button
{
    margin-top: 50px;
    padding: 10px 35px;
    /* background-color: #343a40; */
    /* background-color: #fca311; */
    /* background-color: #a4161a; */
    /* background-color: #660708; */
    background-color: #a4161a;
    font-family: 'Zen Dots', cursive;
    color: white;
    font-size: 1.7rem;
    border-radius: 30px;
}

/* Animations of About section */
.table
{
    /* width: 500px;
    height: 900px;
    background-color: blueviolet;
    display: block; */
    margin-top: -500px;
    /* margin-bottom: 70px; */
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
}
.boxes
{
    /* display: inline-block; */
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    display: flex;
}

/* --------------------------- */
/* Skill Section */
.skill-title
{
    margin: -50px 0;
    padding-top: 60px;
}
.skill-point img
{
    width: 50px;
    margin: 0 60px;
    display: none;
}
.skill-name
{
    font-size: 2em;
    padding-left: 10px;
    width: 50%;
    font-family: 'Zen Dots', cursive;
    /* position : ; */
}

.skill-line
{
    width: 50%;
    font-size: 2em;
    align-items: center;
    visibility: hidden;
    display: none;
}
.skill-color
{
    /* background-color: #f8f9fa; */
    background-color: #dee2e6;
    padding-bottom: 50px;
}
.skill-counter
{
    /* background-color: #161a1d; */
    background-color: white;
    width: 4%;
    display: block;
    margin: 10px 5px;
    border: 2px solid #161a1d;
}
.skill-space
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 3em;
}
#skill-about
{
    padding-left: 10px;
    font-size: 1.4rem;
    margin: 25px 0;
}
/* --------------------------- */
/* Project Section */
.project-title-space
{
    padding : 25px 0 0 0;
    margin : 0;
    background-color: #f5f3f4;
}
.project-space
{
    padding-bottom: 80px;
    padding-top : 0;
    background-color: #f5f3f4;
}
.project-list
{
    width: 30%;
    display: inline-flex;
    flex-flow: column;
    align-items: flex-start;
    justify-items: start;
}
.project-list button
{
    display: block;
    margin-top: 10px !important;
    font-size: 1.3rem;
    background-color: white;
    color: black;
    /*margin-bottom: ;*/
    /*background-color: red;*/
}
.project-description
{
    justify-content: right;
    width: 70% !important;
    display: inline-flex;
    flex-direction: column;
    top: 0;
}
.project-title
{
    font-family: 'Caveat', cursive;
    font-size: 3.5em;
    text-align: left;
    padding-left: 30px;
    /*width: 70%;*/
}
.project-content
{
    padding-top: 20px;
    font-family: 'Antic Slab', serif;
    font-size: 1.2rem;
    text-align: left;
    padding-left: 30px;
    /*width: 70%;*/
}
.project-main
{
    align-items: baseline;
}
/* ------------------------------------------------------------ */
/* contact section */
/* .contact-inner
{
    padding: 50px 0 !important;
} */
.contact-left, .contact-right
{
    width: 50%;
    display: inline-flex;
    flex-flow: column;
    padding-left: 20px;
    padding-bottom: 2em;
    text-align: Left;
    font-size: 2rem;
    /* font-family: 'Zilla Slab Highlight', cursive; */
    font-family: 'Caveat', cursive;
}
.contact-left *
{
    margin: 0.5rem 0;
}
.contact-space
{
    padding: 0;
    background-image: url(./static/images/contact.jpg);
    background-repeat: repeat;
    background-size: contain;
    color: White;
}

.contact-right form input
{
    background-color: inherit;
    width: 80%;
    text-decoration: none;
    outline: None;
    border-bottom: 3px solid white;
    color: inherit;
    font-family: 'Caveat', cursive;
    font-size: 1.4rem;
}
.contact-right form button
{
    margin-top: 15px;
    font-size: 1.1rem;
}
.contact-right form ::placeholder
{
    color: white;
    background-color:rgba(0, 0, 0, 0);
}
